---
title: Democratizing Data Home
layout: default
---

{% include event-banner.html %}

{% include main-banner.html %}

<section class="c-content-sections" aria-labelledby="featured-content-heading">
    <div class="container">
        <h2 id="featured-content-heading" class="sr-only">Featured Content</h2>
        <div class="row">
            <div class="col-12">
                <article class="c-technical-report-wrapper">
                    {% include technical-report-card.html %}
                </article>
            </div>
        </div>
    </div>
</section>

<section class="c-main-sections" aria-labelledby="main-sections-heading">
    <div class="container">
        <h2 id="main-sections-heading" class="sr-only">Key Areas</h2>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <article class="c-section-card-wrapper">
                    {% include section-card.html section=site.data.site.sections.federal_agencies %}
                </article>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <article class="c-section-card-wrapper">
                    {% include section-card.html section=site.data.site.sections.researchers %}
                </article>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <article class="c-section-card-wrapper">
                    {% include section-card.html section=site.data.site.sections.get_involved %}
                </article>
            </div>
        </div>
    </div>
</section>

{% include learning-section.html %}

<section class="c-about-section">
    <div class="container">
        <article class="c-about-content">
            <div class="row">
                <div class="col-lg-7">
                    <h2 class="c-about-section__title">{{ site.data.site.about.title }}</h2>
                    <p class="c-about-section__description">{{ site.data.site.about.description }}</p>
                </div>
                <div class="col-lg-4 offset-lg-1 d-none d-lg-block">
                    <img src="{{ site.baseurl }}/assets/img/thumbnails/03/16/0316cb21-3711-47bf-96cf-ff48c0c54aa5/flourish1.png__647.0x100.0_subsampling-2.png" alt="Elegant decorative flourish design element complementing the about section content" class="c-about-section__flourish">
                </div>
            </div>
        </article>
    </div>
</section>

<aside class="c-partners-section">
    <div class="container">
        {% include partners-list.html %}
    </div>
</aside>