---
title: Democratizing Data Home
layout: default
---

{% include main-banner.html %}

{% include event-carousel.html %}

<section class="c-content-sections" aria-labelledby="featured-content-heading">
    <div class="container">
        <h2 id="featured-content-heading" class="sr-only">Featured Content</h2>
        <div class="row">
            <div class="col-12">
                <article class="c-technical-report-wrapper">
                    {% include technical-report-card.html %}
                </article>
            </div>
        </div>
    </div>
</section>

<section class="c-main-sections" aria-labelledby="main-sections-heading">
    <div class="container">
        <h2 id="main-sections-heading" class="sr-only">Key Areas</h2>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <article class="c-section-card-wrapper">
                    {% include section-card.html section=site.data.site.sections.federal_agencies %}
                </article>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <article class="c-section-card-wrapper">
                    {% include section-card.html section=site.data.site.sections.researchers %}
                </article>
            </div>
            <div class="col-12 col-md-12 col-lg-4">
                <article class="c-section-card-wrapper">
                    {% include section-card.html section=site.data.site.sections.get_involved %}
                </article>
            </div>
        </div>
    </div>
</section>

{% include learning-section.html %}
