---
title: Democratizing Data Home
layout: default
---

{% include event-banner.html %}

{% include main-banner.html %}

<div class="o-section">
    <div class="container">
        <div class="card--plain">
            <div class="row">
                <div class="col">
                    {% include technical-report-card.html %}
                </div>
                <div class="col">
                    <img src="{{ site.baseurl }}/assets/img/thumbnails/ff/af/ffaf3c79-a9ae-452c-bfe3-a6bac71c69f4/insights.png__684.0x352.0_subsampling-2.png"
                         alt="" srcset="
                             {{ site.baseurl }}/assets/img/thumbnails/ff/af/ffaf3c79-a9ae-452c-bfe3-a6bac71c69f4/insights.png__576x576_subsampling-2.png 576w,
                             {{ site.baseurl }}/assets/img/thumbnails/ff/af/ffaf3c79-a9ae-452c-bfe3-a6bac71c69f4/insights.png__684.0x352.0_subsampling-2.png 684.0w
                         " sizes="
                             (max-width: 576px) 576px,
                             684.0px
                         " class="img-fluid bottom-spacer">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="o-section">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-6 col-lg-4 offset-lg-0 col-xl-4 offset-xl-0">
                {% include section-card.html section=site.data.site.sections.federal_agencies %}
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-4 offset-lg-0 col-xl-4 offset-xl-0">
                {% include section-card.html section=site.data.site.sections.researchers %}
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-4 offset-lg-0 col-xl-4 offset-xl-0">
                {% include section-card.html section=site.data.site.sections.get_involved %}
            </div>
        </div>
    </div>
</div>

<div class="o-section o-section--style-muted o-section graybg">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                <h5>HOW TO LEARN AND CONTRIBUTE</h5>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-4 offset-lg-1 col-xl-4 offset-xl-1 d-none d-lg-block">
                <img src="{{ site.baseurl }}/assets/img/thumbnails/03/16/0316cb21-3711-47bf-96cf-ff48c0c54aa5/flourish1.png__647.0x100.0_subsampling-2.png"
                     alt="" srcset="  
                         {{ site.baseurl }}/assets/img/thumbnails/03/16/0316cb21-3711-47bf-96cf-ff48c0c54aa5/flourish1.png__576x576_subsampling-2.png 576w,
                         {{ site.baseurl }}/assets/img/thumbnails/03/16/0316cb21-3711-47bf-96cf-ff48c0c54aa5/flourish1.png__647.0x100.0_subsampling-2.png 647.0w
                     " sizes="
                         (max-width: 576px) 576px,
                         647.0px
                     " class="img-fluid">
            </div>
        </div>
        {% include learning-section.html %}
    </div>
</div>

<div class="container">
    <div class="o-section">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
                <h2>{{ site.data.site.about.title }}</h2>
                <p class="bottom-spacer">{{ site.data.site.about.description }}</p>
            </div>
            <div class="col col-12 col-sm-12 col-md-6 col-lg-4 offset-lg-1 col-xl-4 offset-xl-1 d-none d-lg-block">
                <img src="{{ site.baseurl }}/assets/img/thumbnails/03/16/0316cb21-3711-47bf-96cf-ff48c0c54aa5/flourish1.png__647.0x100.0_subsampling-2.png"
                     alt="" srcset="
                         {{ site.baseurl }}/assets/img/thumbnails/03/16/0316cb21-3711-47bf-96cf-ff48c0c54aa5/flourish1.png__576x576_subsampling-2.png 576w,
                         {{ site.baseurl }}/assets/img/thumbnails/03/16/0316cb21-3711-47bf-96cf-ff48c0c54aa5/flourish1.png__647.0x100.0_subsampling-2.png 647.0w
                     " sizes="
                         (max-width: 576px) 576px,
                         647.0px
                     " class="img-fluid">
            </div>
        </div>
        {% include partners-list.html %}
    </div>
</div>