<header>
    <!-- Sponsor Logos -->
    <div id="header-branding" class="branding-header ">

        <a href="https://www.tacc.utexas.edu/" target="_blank">
            <img class="branding-logo branding-tacc" src="{{ site.baseurl }}/assets/img/org_logos/tacc-white.png"
                crossorigin="anonymous" alt="TACC Logo">
        </a>

        <span class="branding-seperator"></span>
        <a href="https://www.utexas.edu/" target="_blank">
            <img class="branding-logo branding-utaustin" src="{{ site.baseurl }}/assets/img/org_logos/utaustin-white.png"
                crossorigin="anonymous" alt="University of Texas at Austin Logo">
        </a>
    </div>

    <!-- Navigation Bar -->
    <nav id="s-header" class="s-header  navbar navbar-expand-xl navbar-dark">
        <!-- Portal Logo -->

        <a id="header-logo" class="navbar-brand " href="{{ site.baseurl }}/" target="_self">
            <img class="portal-logo " src="{{ site.baseurl }}/assets/img/org_logos/demdata.svg" crossorigin="anonymous"
                alt="Democratizing Data Logo">
        </a>

        <!-- Navbar Accordian Toggle on Small Screens  -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExpandTarget"
            aria-controls="navbarsExpandTarget" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarsExpandTarget">

            <ul class="s-cms-nav  navbar-nav  ml-auto">
                <!-- All top-level CMS controlled nav elements handled here. -->
                <li class="nav-item dropdown"><a href="{{ site.baseurl }}/tools" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Our Tools
                        <span class="sr-only">Toggle Dropdown</span></a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown"><a class="dropdown-item"
                            href="{{ site.baseurl }}/dashboards/usda-landing/" role="menuitem">
                            USDA Data Usage Dashboard
                        </a><a class="dropdown-item"
                            href="{{ site.baseurl }}/dashboards/workforce-landing/" role="menuitem">
                            Workforce & Skills Data Usage Dashboard
                        </a><a class="dropdown-item"
                            href="{{ site.baseurl }}/tools/national-data-platform/" role="menuitem">
                            National Data Platform
                        </a><a class="dropdown-item"
                            href="{{ site.baseurl }}/tools/github-repository/" role="menuitem">
                            GitHub Repository
                        </a>
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/events/">
                        Events

                    </a></li>
                <li class="nav-item dropdown"><a href="{{ site.baseurl }}/resources" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Resources
                        <span class="sr-only">Toggle Dropdown</span></a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown"><a class="dropdown-item"
                            href="{{ site.baseurl }}/resources/technical-report/" role="menuitem">
                            Technical Report
                        </a><a class="dropdown-item"
                            href="https://www.kaggle.com/c/coleridgeinitiative-show-us-the-data" role="menuitem"
                            target="_blank">
                            Code Competition
                        </a><a class="dropdown-item" href="{{ site.baseurl }}/resources/additional-resources/" role="menuitem">
                            Additional Resources
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown"><a href="{{ site.baseurl }}/about" class="nav-link dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        About
                        <span class="sr-only">Toggle Dropdown</span></a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="navbarDropdown"><a class="dropdown-item"
                            href="{{ site.baseurl }}/about/overview/" role="menuitem">
                            Overview
                        </a><a class="dropdown-item" href="{{ site.baseurl }}/tools/our-approach/" role="menuitem">
                            Our Approach
                        </a><a class="dropdown-item" href="{{ site.baseurl }}/about/team/" role="menuitem">
                            Our Team & Partners
                        </a><a class="dropdown-item" href="{{ site.baseurl }}/about/contact-us/" role="menuitem">
                            Contact Us
                        </a>
                    </div>
                </li>
            </ul>
            <script type="module">
                import findLinksAndSetTargets from '{{ site.baseurl }}/assets/js/modules/setTargetForExternalLinks.js';
                findLinksAndSetTargets();
            </script>
        </div>
    </nav>
</header>
