<section class="c-hero{% if site.data.site.event_banner.enabled %} c-hero--with-event-banner{% endif %}">
  <div class="container">
    <div class="c-hero__layout">
      <div class="c-hero__content">
        <h1 class="c-hero__headline">{{ site.data.site.title }}</h1>
        <p class="c-hero__subheadline">{{ site.data.site.tagline }}</p>
        
        <div class="c-hero__actions">
          <a class="c-hero__cta-primary" href="{{ site.baseurl }}/tools/dashboard/">
            Explore Our Tools
          </a>
          <a class="c-hero__cta-secondary" href="{{ site.baseurl }}/about/overview/">
            Learn More About Us
          </a>
        </div>
        
        <div class="c-hero__features">
          <div class="c-hero__feature">
            <svg class="c-hero__feature-icon" fill="currentColor" viewBox="0 0 20 20" width="20" height="20">
              <path d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            Machine Learning & NLP
          </div>
          <div class="c-hero__feature">
            <svg class="c-hero__feature-icon" fill="currentColor" viewBox="0 0 20 20" width="20" height="20">
              <path fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zm0 4a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1V8zm8 0a1 1 0 011-1h4a1 1 0 011 1v2a1 1 0 01-1 1h-4a1 1 0 01-1-1V8z" clip-rule="evenodd"></path>
            </svg>
            90+ Million Documents
          </div>
          <div class="c-hero__feature">
            <svg class="c-hero__feature-icon" fill="currentColor" viewBox="0 0 20 20" width="20" height="20">
              <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
            </svg>
            Evidence-Based Policy
          </div>
        </div>
      </div>
      
      <div class="c-hero__visual">
        <div class="c-hero__image-container">
          <img src="{{ site.baseurl }}/assets/img/hero/data-visualization-dashboard.jpg"
               alt="Data visualization dashboard showing analytics and insights for democratizing public data access"
               class="c-hero__image img-fluid">
        </div>
      </div>
    </div>
  </div>
</section> 